@charset "UTF-8";
.container{
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    color: rgb(4, 4, 3);
    background-color: dimgrey;
    flex-direction: row;
}
.img{
    background-color: rgb(60, 60, 41);
    text-align: center;
    align-items: center;
    display: inline-block;
    flex-wrap: nowrap;
}
.audio{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: inline-block;
    flex-wrap: nowrap;
}